/* CSS Document */
.header
{
 height: 120px;
 background: #FF8080;
}
.header content
{
 width: 33.333%;
 color: white;
 font-size: 50px;
}
.body
{
 min-height: 1620px;
 overflow: auto;
 padding:20px 40px;
}
.body .header-label
{
 width: 100%;
 padding-top: 70px;
 font-size: 60px;
 font-family: "Open Sans";
 font-weight: bold;
}
.body .no-header-label
{
 font-size: 50px;
 font-weight: lighter; 
 font-family: "Open Sans";
 width: 100%;
}
.lower
{
 height: auto;
}

.less-plus-button
{
 width: 60px;
 height: 50px;
 background:#B6B6B6;
 color: white;
 cursor: pointer;
 border-radius: 50%;
 padding-bottom: 8%;
 border: none;
}