<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>RememberPlease</title>
    <link rel="stylesheet" href="../bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" href="../style/layout1.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <style>
      .header {
        height: 110px;
        background: #f9523b;
        /*background: #FF8080;*/
      }
      .header content {
        width: 33.333%;
        color: white;
        font-size: 50px;
      }
      .body {
        min-height: 1620px;
        overflow: auto;
        padding: 0px 40px 0px 60px;
      }
      .body .header-label {
        width: 100%;
        padding-top: 50px;
        font-size: 50px;
        font-family: 'Open Sans';
        font-weight: bold;
      }
      .body .header-label hr {
        background-color: red;
      }
      .body .no-header-label {
        font-size: 45px;
        font-weight: lighter;
        font-family: 'Open Sans';
        width: 100%;
      }
      .lower {
        height: auto;
      }
      .less-plus-button {
        width: 60px;
        height: 50px;
        background: #b6b6b6;
        color: white;
        cursor: pointer;
        border-radius: 50%;
        padding-bottom: 8%;
        border: none;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 header">
          <div class="col-sm-4 content" style="padding-top: 10px;">
            <img
              src="../profile/img_avatar2.png"
              style="width: 90px; height:90px; border-radius: 50%;"
            />
          </div>
          <div
            class="col-sm-4 content"
            style="font-size: 50px; color: #EFEFEF; padding-top: 20px;"
          >
            Birthday list
          </div>
          <div class="col-sm-4 content"></div>
        </div>

        <div class="col-sm-12 body">
          <!------------------------------------------------- Programming part --------------------------------------------->
          <label class="header-label"
            >TODAY
            <hr
          /></label>
          <label class="no-header-label"
            ><span onclick="location.href='editBirthday.html'">Muteteli </span
            ><img
              src="../profile/Completed-button-Main-Screen.png"
              style="width: 7%;"
              align="right"
              onclick="location.href='createMessage.html'"/>
            <hr
          /></label>
          <label class="no-header-label"
            ><span onclick="location.href='editBirthday.html'">Garage48 </span>
            <img
              src="../profile/Add-Message-Button-Main-Screen.png"
              style="width: 7%;"
              align="right"
              onclick="location.href='createMessage.html'"/>
            <hr
          /></label>
          <label class="no-header-label"
            ><span onclick="location.href='editBirthday.html'"
              >Dukuzumuremyi </span
            ><img
              src="../profile/Edit-Button-Main-Screen.png"
              style="width: 7%;"
              align="right"
              onclick="location.href='createMessage.html'"/>
            <hr
          /></label>

          <label class="header-label"
            >TOMORROW
            <hr
          /></label>
          <label class="no-header-label"
            ><span onclick="location.href='editBirthday.html'">Jojo </span
            ><img
              src="../profile/Add-Message-Button-Main-Screen.png"
              style="width: 7%;"
              align="right"
              onclick="location.href='createMessage.html'"/>
            <hr
          /></label>
          <label class="no-header-label"
            ><span onclick="location.href='editBirthday.html'"
              >Nkundinshuti </span
            ><img
              src="../profile/Edit-Button-Main-Screen.png"
              style="width: 7%;"
              align="right"
              onclick="location.href='createMessage.html'"/>
            <hr
          /></label>
          <label class="no-header-label"
            ><span onclick="location.href='editBirthday.html'">Lembit </span
            ><img
              src="../profile/Completed-button-Main-Screen.png"
              style="width: 7%;"
              align="right"
              onclick="location.href='createMessage.html'"/>
            <hr
          /></label>

          <label class="header-label"
            >THIS MONTH
            <hr
          /></label>
          <label class="no-header-label"
            ><span onclick="location.href='editBirthday.html'">Maido </span
            ><img
              src="../profile/Add-Message-Button-Main-Screen.png"
              style="width: 7%;"
              align="right"
              onclick="location.href='createMessage.html'"/>
            <hr
          /></label>
          <label class="no-header-label"
            ><span onclick="location.href='editBirthday.html'">Sebahirwe </span
            ><img
              src="../profile/Edit-Button-Main-Screen.png"
              style="width: 7%;"
              align="right"
              onclick="location.href='createMessage.html'"/>
            <hr
          /></label>
          <label class="no-header-label"
            ><span onclick="location.href='editBirthday.html'">Joao </span
            ><img
              src="../profile/Completed-button-Main-Screen.png"
              style="width: 7%;"
              align="right"
              onclick="location.href='createMessage.html'"/>
            <hr
          /></label>
          <label class="no-header-label"
            ><span onclick="location.href='editBirthday.html'">Uwimana </span
            ><img
              src="../profile/Add-Message-Button-Main-Screen.png"
              style="width: 7%;"
              align="right"
              onclick="location.href='createMessage.html'"/>
            <hr
          /></label>
          <label class="no-header-label"
            ><span onclick="location.href='editBirthday.html'">Liis </span
            ><img
              src="../profile/Edit-Button-Main-Screen.png"
              style="width: 7%;"
              align="right"
              onclick="location.href='createMessage.html'"/>
            <hr
          /></label>

          <img
            src="../profile/New Add icon.png"
            class="add"
            style="width: 22%; position: fixed; right: 100px; bottom: 80px;"
            align="right"
            onclick="location.href='createMessage.html'"
          />
        </div>
      </div>
    </div>
  </body>
</html>
