<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>RememberPlease</title>
    <link rel="stylesheet" href="../bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bootstrap/3.3.7/css/bootstrap.css" />
    <!---<link rel="stylesheet" href="../style/layout4.css" /> -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <style>
      input[type='submit'] {
        width: 80%;
        height: 110px;
        border: none;
        font-size: 40px;
        letter-spacing: 3px;
        font-weight: bold;
        color: #fdfdfd;
        border-radius: 20px;
      }

      .sipmle-page {
        padding: 180px 10px;
        text-align: center;
      }

      .simple-page p {
        font-family: 'Open Sans';
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 sipmle-page">
          <img src="../profile/Clapping image.png" width="400" />
          <br /><br />
          <p style="font-size: 68px;">Congratulations!</p>
          <br /><br />
          <p style="font-size: 50px;">
            We sent your message<br />
            automatically on 12/05/19 to wish <br />Garage48 a Happy 9<sup
              >th</sup
            >
            birthday!
            <br />

            <br />
            Show extra love<br />
            with a SPA treatment
          </p>
          <br /><br /><br /><br />

          <input
            type="submit"
            style="background-color: #00B75B;"
            name="spaTreatment"
            value="GIFT SPA"
          />
          <br /><br /><br />
          <input
            type="submit"
            name="backTo"
            style="background-color: #929292;"
            value="GO TO BIRTHDAY LIST"
            onclick="window.location='birthday-list1.html'"
          />
        </div>
      </div>
    </div>
  </body>
</html>
