<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>RememberPlease</title>
<link rel="stylesheet" href="../bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="../bootstrap/3.3.7/css/bootstrap.css" />
<!---<link rel="stylesheet" href="../style/layout4.css" /> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>
body
{
 background-color: red;
}
input[type=submit]
{
 width: 80%;
 height: 110px; 
 border: none;
 font-size: 40px;
 letter-spacing: 3px;
 font-weight: bold;
 color: #FDFDFD;
 border-radius: 20px;
}
.sipmle-page
{
 padding: 180px 10px;
 text-align: center;
}
.simple-page p
{
 font-family: "Open Sans";
}

</style>
</head>

<body>

<div class="container-fluid">

<div class="row">
<div class="col-sm-12 sipmle-page">
<label class="rememberPlease">RememberPlease</label>
</div>
</div>

</div>
</body>
</html>